<mat-card>
  <form class="my-form" (ngSubmit)="submit()">
    <mat-card-header>
      <mat-card-title>Overzicht opdrachten</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <table mat-table [dataSource]="tasks$" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="naam">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let taak"> {{taak.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="credits">
            <th mat-header-cell *matHeaderCellDef> Credits </th>
            <td mat-cell *matCellDef="let taak"> {{taak.score}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Opdracht toevoegen
        </mat-panel-title>
        <mat-panel-description>
          Geef opdrachtbeschrijving en aantal credits
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Opdracht" name="opdracht" type="text" [(ngModel)]="opdracht">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Credits" name="punten" type="text" [(ngModel)]="punten">
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">LOGIN</button>
      </mat-card-actions>
    </mat-expansion-panel>

  </form>
</mat-card>