<mat-card class="my-card">
    <form class="my-form" (ngSubmit)="submit()">
        <mat-card-title>
            Reward toevoegen
        </mat-card-title>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Omschrijving</mat-label>
                <input  matInput  placeholder="Omschrijving" name="name" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Aantal punten</mat-label>
                <input  matInput="" placeholder="Aantal punten" name="score" [(ngModel)]="score">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">VOEG TOE</button>
            <button mat-button color="primary" type="button" (click)="backLink()">Terug</button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
    </form>
</mat-card>