<mat-card class="my-card">
    <mat-card-title>
        Reward toevoegen
    </mat-card-title>
    <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>Omschrijving</mat-label>
                <input  matInput  placeholder="Omschrijving" name="name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Aantal punten</mat-label>
                <input  matInput="" placeholder="Aantal punten" name="score">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">VOEG TOE</button>
    </mat-card-actions>
</mat-card>