<div class="nav-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Reward System</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <h3 class="titel"><a href="#!">Reward System</a></h3>
        <ul>
          <li>
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" (click)="snav.toggle()">
              <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/shop" routerLinkActive="active" (click)="snav.toggle()">
              <i class="fas fa-shopping-basket"></i> Shop
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/rankings" (click)="snav.toggle()">
              <i class="fas fa-chart-line"></i> Rankings
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/opdrachtenIngeven" routerLinkActive="active" (click)="snav.toggle()">
              <i class="fas fa-tasks"></i> Opdrachten ingeven
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/rewards" routerLinkActive="active" (click)="snav.toggle()">
              <i class="fas fa-trophy"></i> Rewards
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="snav.toggle()">
              <i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
          <li>
            <a class="nav-link" (click)="logout(); snav.toggle()"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>