<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
  <a href="#!">Reward System</a>
    <ul>
      <li>
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
      </li>
      <li>
        <a class="nav-link" href="#!">Klassement</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/opdrachtenIngeven" routerLinkActive="active">Opdrachten ingeven</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/rewardsIngeven" routerLinkActive="active">Rewards ingeven</a>
      </li>
    </ul>
    <ul>
      <li>
        <a class="nav-link">Login</a>
      </li>
      <li>
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>