<div class="flex-me">
  <mat-list>
    <h3 matLine>Points</h3>
      <mat-list-item *ngFor="let reward of rewards$">
    <p matLine>{{reward.score}}</p>
    <mat-divider matLine></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <h3 matLine>Rewards</h3>
    <mat-list-item *ngFor="let reward of rewards$">
      <p matLine>{{reward.name}}</p>
      <mat-divider matLine></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <h3 matLine>Tasks</h3>
    <mat-list-item *ngFor="let task of tasks$">
      <p matLine>{{task.name}}</p>
      <mat-divider matLine></mat-divider>
    </mat-list-item>
  </mat-list>
</div>