<div class="flex-me">
  <mat-card class="kaart" *ngIf="currentUser" fxLayout="row" fxLayoutWrap>
    <mat-card-title matLine>Mijn voltooide taken</mat-card-title>
    <mat-card *ngFor="let claim of myTaskClaims$">
      <mat-card-content *ngIf="currentUser">
        <p>{{claim.task.name}} - {{claim.status}}</p>
        <p><i class="fas fa-coins"></i> {{claim.task.score}} punten</p>
      </mat-card-content>
    </mat-card>
    <div *ngIf="myTaskClaims$?.length === 0">
      Nog geen voltooide taken.
    </div>
  </mat-card>
  <mat-card class="kaart" *ngIf="currentUser" fxLayout="row" fxLayoutWrap>
    <mat-card-title matLine>Mijn gekochte rewards</mat-card-title>
    <mat-card *ngFor="let claim of myRewardClaims$">
      <mat-card-content *ngIf="claim.status != 'rewarded' && currentUser">
        <img mat-card-image src="{{claim.reward.image}}" alt="foto {{claim.reward.name}}" />
        <p>
          <img mat-card-avatar src="{{currentUser.image}}" />
          {{claim.user.firstName}} {{claim.user.lastName}}: {{claim.status}}</p>
        <p *ngIf="claim.reward">
          <i class="fas fa-trophy"></i> Reward: {{claim.reward.name}}
        </p>
        <p><i class="fas fa-coins"></i> {{claim.reward.score}} punten</p>
      </mat-card-content>
    </mat-card>
    <div *ngIf="myRewardClaims$?.length === 0">
      Nog geen gekochte rewards.
    </div>
  </mat-card>
</div>