.flex-me {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  margin-bottom: 50px;
}

.flex-me > mat-list {
  flex:1 1 auto;
  text-align:center;
}

.kaart {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

mat-card > mat-card {
  margin-bottom: 15px;
  margin-right: 15px;
  flex-wrap: wrap;
  width: 100%;
  word-wrap: break-word;
}

