mat-card {
    width: 300px;
    margin:25px;
  }
.button{
    background-color: #EE6C4D;
    color: #293241;
    float:right;
    border:#EE6C4D;
    border-radius: 4px;
}

.button:hover{
    background-color: #293241;
    color:  #EE6C4D;
}

.flex-me {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }

  