.titel{
    margin-left: 25px;
    margin-top: 25px;
}

mat-card {
    width: 300px;
    margin:25px;
  }
.button{
    background-color: #3f51b5;
    color: #fff;
    float:right;
    border:#EE6C4D;
    border-radius: 4px;
}

.buttonAanpassen{
    float:left;
}

.button:hover{
    background-color: #fff;
    color:  #3f51b5;
}

.flex-me {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }

.succes{
 //   background-color: 
}

.fail{
    background-color: lightgray;
    
}