<div class="flex-me">
<mat-card >
  <mat-card-title>xd</mat-card-title>
 <!-- <img mat-card-image src="https://cdn.pixabay.com/photo/2015/09/16/08/55/online-942408_1280.jpg" alt="test"> -->
  <mat-card-subtitle>wow </mat-card-subtitle>
  <mat-card-content>
    aaaaaaaaaaaaaaa<br/>
    aaaaaaaaa
  </mat-card-content>
  <mat-card-actions>
      <button md-button>ACTION 1</button>
   </mat-card-actions>
</mat-card>
<mat-card >
    <mat-card-title>xd</mat-card-title>
    <mat-card-subtitle>wow </mat-card-subtitle>
    <mat-card-content>
      aaaaaaaaaaaaaaa<br/>
      aaaaaaaaa
    </mat-card-content>
  </mat-card>
  <mat-card >
      <mat-card-title>xd</mat-card-title>
      <mat-card-subtitle>wow </mat-card-subtitle>
      <mat-card-content>
        aaaaaaaaaaaaaaa<br/>
        aaaaaaaaa
      </mat-card-content>
    </mat-card>
    <mat-card >
        <mat-card-title>xd</mat-card-title>
        <mat-card-subtitle>wow </mat-card-subtitle>
        <mat-card-content>
          aaaaaaaaaaaaaaa<br/>
          aaaaaaaaa
        </mat-card-content>
      </mat-card>
      <mat-card >
          <mat-card-title>xd</mat-card-title>
          <mat-card-subtitle>wow </mat-card-subtitle>
          <mat-card-content>
            aaaaaaaaaaaaaaa<br/>
            aaaaaaaaa
          </mat-card-content>
        </mat-card>
        <mat-card >
            <mat-card-title>xd</mat-card-title>
            <mat-card-subtitle>wow </mat-card-subtitle>
            <mat-card-content>
              aaaaaaaaaaaaaaa<br/>
              aaaaaaaaa
            </mat-card-content>
          </mat-card>
          <mat-card >
              <mat-card-title>xd</mat-card-title>
              <mat-card-subtitle>wow </mat-card-subtitle>
              <mat-card-content>
                aaaaaaaaaaaaaaa<br/>
                aaaaaaaaa
              </mat-card-content>
            </mat-card>
            <mat-card >
                <mat-card-title>xd</mat-card-title>
                <mat-card-subtitle>wow </mat-card-subtitle>
                <mat-card-content>
                  aaaaaaaaaaaaaaa<br/>
                  aaaaaaaaa
                </mat-card-content>
              </mat-card>
              <mat-card >
                  <mat-card-title>xd</mat-card-title>
                  <mat-card-subtitle>wow </mat-card-subtitle>
                  <mat-card-content>
                    aaaaaaaaaaaaaaa<br/>
                    aaaaaaaaa
                  </mat-card-content>
                </mat-card>
                <mat-card >
                    <mat-card-title>xd</mat-card-title>
                    <mat-card-subtitle>wow </mat-card-subtitle>
                    <mat-card-content>
                      aaaaaaaaaaaaaaa<br/>
                      aaaaaaaaa
                    </mat-card-content>
                  </mat-card>
                  <mat-card >
                      <mat-card-title>xd</mat-card-title>
                      <mat-card-subtitle>wow </mat-card-subtitle>
                      <mat-card-content>
                        aaaaaaaaaaaaaaa<br/>
                        aaaaaaaaa
                      </mat-card-content>
                    </mat-card>
</div>