// Overschrijf BS variabelen en mixins
$theme-colors: (
        'primary': #293241,
        'background': #E0FBFC,
        'lightRed' : #EE6C4D,
        'blue' : #3D5A80,
        'lightBlue': #98C1D9
);
$theme-colors2: (
        'primary': #E0FBFC,
        'background': #293241,
        'lightRed' : #EE6C4D,
        'blue' : #3D5A80,
        'lightBlue': #98C1D9
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

.mat-toolbar.mat-primary {
  background-color: $primary !important;
}
.mat-nav-list {
  flex: 2 !important;
}

table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.button, .mat-raised-button.mat-primary {
  background-color: $primary !important;
  margin: 15px;
}

.mat-button.mat-primary {
  color: $primary !important;
}

footer {
  background-color: $primary;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@include mat-core();
// Dark theme
$ip-primary: mat-palette($mat-indigo);
$ip-accent: mat-palette($mat-pink, A200, A100, A400);
$ip-theme: mat-light-theme($ip-primary, $ip-accent);
$ip-theme-dark: mat-dark-theme($ip-primary, $ip-accent);

.indigo-pink {
  @include angular-material-theme($ip-theme);
}

.indigo-pink-dark {
  @include angular-material-theme($ip-theme-dark);
}
