// Overschrijf BS variabelen en mixins
$theme-colors: (
        'primary': #293241,
        'background': #E0FBFC,
        'lightRed' : #EE6C4D,
        'blue' : #3D5A80,
        'lightBlue': #98C1D9
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar-dark {
  background-color: $primary !important;
}
.mat-nav-list {
  flex: 2 !important;
}


.flex-me {
  display: inline-flex;
  flex-flow: row wrap;
}