// Overschrijf BS variabelen en mixins
$theme-colors: (
        'primary': black,
        'danger': #F04C25,
        'salmon' : salmon
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar-dark {
  background-color: $primary !important;
}
.mat-nav-list {
  flex: 2 !important;
}